/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

*, *:before, *:after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;
  font-size: 62.5%;
}

body {
  max-width: 100vw;
  min-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  color: white;
  font-family: var(--font-libre-bodoni);
}

:root {
/* Colors */
/* #1986C9 or #1475b1*/
  --color-primary: #1986C9; 
  --color-secondary: #86672B; 
  --font-libre-bodoni: var(--font-libre-bodoni);
  --font-caudex: var(--font-caudex);
}

section {
  /* pt-[325px] pb-[184px] */
  padding-top: 24rem;
  padding-bottom: 18rem;
}

/* label {
    font-size: 1.4rem;
} */

input {
  font-size: 1.4rem;
  font-family: var(--font-caudex);;
}



