/* @import "tailwindcss"; */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  min-width: 100vw;
  max-width: 100vw;
  width: 100vw;
}

body {
  max-width: 100vw;
  min-width: 100vw;
  width: 100vw;
  overflow-x: hidden;
  color: white;
  font-family: var(--font-libre-bodoni);
}

:root {
/* Colors */
/* #1986C9 or #1475b1*/
  --color-primary: #1986C9; 
  --color-secondary: #86672B; 
  --font-libre-bodoni: var(--font-libre-bodoni);
  --font-caudex: var(--font-caudex);
}



